.form-row {
  display: flex;
  max-width: 800px;
  padding: 2rem 0;
}

.form-row > *:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form-row > *:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-row > *:not(:last-child) {
  border-right-width: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.form-row > *:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .form-row {
  padding: 1rem 0;
  }
}